.header-top {
  background-image: url('../../assets/doodle.svg');
  image-rendering: -webkit-optimize-contrast;
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
  border-bottom: solid #68a1ea 30px;
  height: 205px;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  .logo {
    position: absolute;
    top: 0;
    // left: 37%;
    padding-top: 30px;
  }
}

@media screen and (max-width: 400px) {
  .logo-wrapper {
    .logo {
      height: 300px;
      width: 300px;
    }
  }
}
